{% extends 'layouts/base.html' %}

{% block title %} Search {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

       <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">


          <!-- Card stats -->
          
        </div>
      </div>
    </div>

     <div class="container-fluid mt--7">

      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">{{session_data.name_of_activity}}</h3>
            </div>
            <div class="card-body">
            </div>

              <div class="col-12">
                  <div class="card shadow border-0">

                      <table class="table table-striped">
                          <thead>
                          <tr>

                              <th scope="col">SESSION NAME</th>
                              <th scope="col">SESSION TYPE</th>
                              <th scope="col">METHOD</th>
                              <th scope="col">START DATE</th>
                              <th scope="col">END DATE</th>
                              <th scope="col">COURSE</th>
                              <th scope="col">Total Participants</th>
                              <th></th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                              <td>{{session_data.name_of_activity}}</td>
                              <td>{{session_data.session_type}}</td>
                              <td>{{session_data.method}}</td>
                              <td>{{session_data.start_date}}</td>
                              <td>{{session_data.end_date}}</td>
                              <td>{{session_data.course}}</td>
                              <td>{{session_data.attendees_number}}</td>
                              <td></td>
                          </tr>

                          </tbody>
                      </table><br/>
                      <td>{{session_data.get_participant}}</td>

                  </div>
              </div>
              <div>
                  <br/><br/>


            <div class="container">
                {{myFilter.Form}}
    </div>


  </div> 
</div>
</div>
</div>

<br/><br/>
  




<div class="container-fluid">

     <div class="row">
        




        
     

    <!--  <div class="row">
        <div class="col">
          <div class="card shadow border-0">
            <div id="map-canvas" class="map-canvas" data-lat="40.748817" data-lng="-73.985428" style="height: 600px;"></div>
          </div>
        </div>-->
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
