<head xmlns="http://www.w3.org/1999/html">
    <style>
    @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 55pt;
            -pdf-frame-border: .1; padding-top: 5pt; padding-left: 5pt;
            padding-bottom: 2pt;

        }
        @frame content_frame {          /* Content Frame */
            left: 50pt;
            width: 512pt;
            top: 120pt;
            height: 632pt;
            text-align: left !important;


        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }

    }
</style>
</head>

<body>


<!-- Content for Static Frame 'header_frame' -->
<div id="header_content">

    <div>
       <img src="https://www.spc.int/sites/default/files/logo%20%282%29.png" width="80px"/>&nbsp;&nbsp;&nbsp; <strong> Geoscience, Energy and Maritime Division(GEM)</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{date}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <strong > Disaster & Community Resilience Programme </strong>
    </div>
</div>
<!-- Content for Static Frame 'content-frame' -->
    <div>
        <div >
            <span><strong>
                {{session_data.session_type}}  {{session_data.method}} -  From : {{session_data.start_date}} to {{session_data.end_date}}, Conducted by  {{session_data.get_trainer}} {{session_data.get_trainer_last}} held in {{session_data.country.name}}
                </strong>
            </span>
            <br/>
            <br/>
            <span>
                <strong>{{session_data.name_of_activity}} Participants List</strong>
            </span>
            <div id="table">
            <table repeat="1">
                 <thead >
                      <hr>
                      <tr>
                          <th style="text-align: left;" >NAME</th>
                          <th style="text-align: left;" >GENDER</th>
                          <th  style="text-align: left;">COUNTRY</th>
                          <th  style="text-align: left;">EMAIL</th>
                         <!-- <th  style="text-align: left;">WORKPHONE</th> -->
                          <th  style="text-align: left;">ORGANIZATION</th>
                      </tr>
                 </thead>
                 <tbody>
                        {% for i in session_data.get_part_list %}
                      <tr>
                          <td >{{i.first_name}} {{i.last_Name}}</td>
                          <td>{{i.gender}}</td>
                          <td>{{i.country.name}} </td>
                          <td>{{i.email}}</td>
                          <!-- <td>{{i.work_phone}}</td> -->
                           <td>{{i.get_organization}}</td>
                       </tr>
                         {% endfor %}
                  </tbody>
             </table>
         </div>
                       </span>
         </div>
     </div>
     <div>


             </div>
 <hr>
 <p><strong>Total Participants: {{session_data.attendees_number}}</strong></p>



 <hr>

 <!-- Content for Static Frame 'footer_frame' -->
<div id="footer_content">(c) - page <pdf:pagenumber>
    of <pdf:pagecount>
</div>
</body>

