{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Trainings</h5>
                      <span class="h2 font-weight-bold mb-0"><a herf="/">{{ total_session }}</a></span>
                    </div>
                     <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Courses</h5>
                      <span class="h2 font-weight-bold mb-0">{{total_courses}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Trained </h5>
                      <span class="h2 font-weight-bold mb-0">  
                        {{total_participant}} 
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Courses Completed</h5>
                      <span class="h2 font-weight-bold mb-0">{{total_course_comp}} <span class="card-title text-uppercase text-muted mb-0">Users</span></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

     <div class="row">
        <div class="col-5">
          <div class="card shadow border-0">
          <div>
          <a href="{% url 'create_participant' %}" type="button" class="btn btn-dark btn-block">Enter New Participant</a>
          <table class="table table-striped">
            <thead>
                <tr>      
                      <th scope="col">Name</th>
                      <th scope="col">Phone</th> 
                      <th></th>    
                      </tr>
                      </thead>
                        <tbody>
                        {% for i in participants %}
                            <tr>
                                
                                <td>{{i.first_name}}</td>
                                <td>{{i.work_phone}}</td>
                                <td><a class="btn btn-sm btn-primary" href = "{% url 'participant' i.id  %}" >view</td>
      
                              </tr> 
                        {% endfor %}                     
                              </tbody>
                        </table></div>
                        </div>
        </div>
          <div class="col-7">
          <div class="card shadow border-0">
            <a href="{% url 'create_session' %}" type="button" class="btn btn-success btn-block">Enter New Session</a>
                  <table class="table table-striped">
  <thead>
    <tr>
     
      <th scope="col">SESSION NAME</th>
      <th scope="col">Country</th>
      <th scope="col">Total Participants</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for i in session %}
            <tr>                            
            <td>{{i.name_of_activity}}</td>
            <td>{{i.country}}</td>
            <td>{{i.attendees_number}}</td>     
            <td><a class="btn btn-sm btn-primary" href = "{% url 'participant' i.id  %}" >view</td>
           </tr> 
    {% endfor %}      
  </tbody>
</table>


          </div>
        </div>
      </div>
     
 
<!--Chart--><br/>
      <div class="row">
        <div class="col-xl-7 mb-5 mb-xl-0">
          <div class="card ">
            <div id="myChart">
    
    <script>
      var chartData = {
        type:"bar",
        "title": {
    "text": "Participants By County",
    "fontSize": 18
  },
  "subtitle": {
    "text": "adjust the properties to re-animate the chart"
  },
  "plot": {
    "animation": {
      "delay": "300",
      "effect": "4",
      "method": "5",
      "sequence": "1"
    }
  },
        "scale-x":{
            "values":["Fiji","Samoa","Tonga","Kiribati","Tuvalu","Niue","Png","vanuatu","Solomon Islans"]
            },
            "series":[  {          
              "values":[13,34,28,32,45,70,80,46,25]
              } 
            ]
         }
                   
          
      
      zingchart.render({
        id: "myChart",
        data: chartData, 
      });        
          
     
      
    </script>
          </div>
  
    </div>
    </div>
            
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">GENDER</h6>
                  <h2 class="mb-0">Total Gender</h2>
                </div>
              </div>
            </div>

            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

<br/>
    
     

    
      
        
<div>


      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
