{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <!-- Header -->
    <div class="header pb-8 pt-5 pt-md-8" style="min-height: 450px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
        <span class="mask bg-gradient-default opacity-8"></span>
        <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Trainings</h5>
                      <span class="h2 font-weight-bold mb-0"><a herf="/">{{ total_session }}</a></span>
                    </div>
                     <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Courses</h5>
                      <span class="h2 font-weight-bold mb-0">{{total_courses}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Trained </h5>
                      <span class="h2 font-weight-bold mb-0">  
                        {{total_participant}}
                      </span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Completed Courses</h5>
                      <span class="h2 font-weight-bold mb-0">{{total_course_comp}} <span class="card-title text-uppercase text-muted mb-0">Users</span></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <div class="container-fluid mt--7">
     <div class="row">
        <div class="col-6">
          <div class="card shadow border-0">
          <div>
          <a href="{% url 'create_participant' %}" type="button" class="btn btn-dark btn-block">Enter New Participant</a>
          <table class="table table-striped">
            <thead>
                <tr>      
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <!--<th scope="col">Phone</th>-->

                      <th></th>    
                      </tr>
                      </thead>
                        <tbody>
                        {% for i in participants|slice:":5" %}
                        <tr>
                                
                                <td>{{i.first_name}}</td>
                                <td>{{i.email}}</td>
                                <!--<td>{{i.hostname}}</td>-->
                            <td><a class="btn btn-sm btn-primary" href = "{% url 'participant' i.id  %}" >view</a></td>
      
                              </tr> 
                        {% endfor %}                     
                              </tbody>
                        </table>
                    </div></div>
        </div>
                  <div class="col-6">
                  <div class="card shadow border-0">
                    <a href="{% url 'create_session' %}" type="button" class="btn btn-success btn-block">Enter New Session</a>
                          <table class="table table-striped">
                          <thead>
                            <tr>

                              <th scope="col">SESSION NAME</th>
                              <th scope="col">Country</th>
                              <th>DETAILS</th>

                            </tr>
                          </thead>
                          <tbody>
                            {% for i in session|slice:":5" %}
                                    <tr>
                                    <td>{{i.name_of_activity}}</td>
                                    <td>{{i.country}}</td>
                                    <td><a class="btn btn-sm btn-primary" href = "{% url 'session' i.id  %}" >view</a></td>
                                    </tr>
                            {% endfor %}
                          </tbody>
</table>


          </div>
        </div>
      </div>
     
 
<!--Chart--><br/>
    <div class="row">
    <div class="col-xl-7 mb-5 mb-xl-0">
      <div class="card ">
        <div id="myChart">

                <script>
                  var chartData = {
                    type:"bar",
                    "title": {
                "text": "Sessions By County",
                "fontSize": 18
                },
                "subtitle": {
                "text": "Number of trainings Carried out per Countries"
                },
                "plot": {
                "animation": {
                  "delay": "300",
                  "effect": "4",
                  "method": "5",
                  "sequence": "1"
                }
                },
                    "scale-x":{
                        "values":{{ labels|safe }},
                        },
                        "series":[  {
                          "values":{{ data|safe }}
                          }
                        ]
                     }


                  zingchart.render({
                    id: "myChart",
                    data: chartData,
                  });



                </script>
          </div>
    </div>
    </div>
            
        <div class="col-xl-5">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Participants Genders</h6>
                  <h2 class="mb-0">GENDER TYPE</h2>
                </div>

              </div>
            </div>

            <div class="card-body">
              <!-- Chart --><br/><br/>
                <div id="container" style="width: 100%; height:350px">
                    <canvas id="pie-chart"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                <script>

                    var config = {
                      type: 'pie',
                      data: {
                        datasets: [{
                          data: {{ data2|safe }},
                          backgroundColor: [
                            '#003f5c', '#ff764a', '#ffa600'
                          ],
                          label: 'Gender Type'
                        }],
                        labels: {{ labels2|safe }}
                      },
                      options: {
                        legend: {
                          display: true
                            }

                      }

                    };

                    window.onload = function() {
                      var ctx = document.getElementById('pie-chart').getContext('2d');
                      window.myPie = new Chart(ctx, config);
                    };

                </script>

            </div>
          </div>
        </div>
      </div>

<br/>
    
     
<div>
    <script>
    {% block jquery %}
      var endpoint = '/api/data/'
     {% endblock %}
    </script>
</div>


    </div>
<div>


      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
